.container {
  display: flex;
  justify-content: center;
}

.h1 {
  font-size: 4rem;
  font-weight: bold;
  margin-bottom: 0px;
}

.h4 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 0px;
  margin-bottom: 0px;
}

.texto {
  text-align: justify;
  padding: 20px;
  font-weight: 300;
}

.card {
  border-style: solid;
  margin: 20px;
  background: grey;
  font-size: 1.7em;
  padding: 10px;
  width: 80%;
  align-content: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
}

.detalle {
  display: flex;
}

.descripcion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.pie {
  display: flex;
  justify-content: space-evenly;
}
